<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WU Pride Alliance</title>
    <meta name="description" content="WashU's Pride Alliance!">
    <link id="favicon" rel="icon" href="https://png.icons8.com/color/1600/rainbow.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div id="whole">
      <header>
        <div id="title">
          <a href="/"><h1>wustl</h1>
          <h2>Pride</h2> <h2 class="underline">Allianc<span style="letter-spacing: 0">e</span></h2></a>
        </div>
        <div class="rainbow">
          <div class="pastel-red">
          </div>
          <div class="pastel-orange">
          </div>
          <div class="pastel-yellow">
          </div>
          <div class="pastel-green">
          </div>
          <div class="pastel-blue">
          </div>
          <div class="pastel-indigo">
          </div>
          <div class="pastel-purple">
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/events" class="redorange-link">Events</a></li>
            <li><a href="/contact" class="greenyellow-link">Contact Us</a></li>
            <li><a href="/join" class="bluepurple-link">Join Us</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <h1>
        Contact Us
      </h1>
      <div style="width: 70vw; margin: auto;">
        <h3 style="display:inline;">
          Presidents
        </h3> &nbsp; president.wustlpride@gmail.com, president2.wustlpride@gmail.com<br>
        <h3 style="display:inline;">
          Secretary
        </h3> &nbsp; secretary.wustlpride@gmail.com <br>
        <h3 style="display:inline;">
          Treasurer
        </h3> &nbsp; treasurer.wustlpride@gmail.com <br>
        <h3 style="display:inline;">
          Co-programming
        </h3> &nbsp; social.wustlpride@gmail.com, activism.wustlpride@gmail.com <br>
        <h3 style="display:inline;">
          Co-publicity
        </h3> &nbsp; publicity.wustlpride@gmail.com, publicity2.wustlpride@gmail.com <br>
        <h3 style="display:inline;">
          Fundraising
        </h3> &nbsp; fundraising.wustlpride@gmail.com <br>
      </div>
    </main>
      <footer>
        Pride Alliance &copy; 2018
      </footer>
    </div>
  </body>
</html>