<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WU Pride Alliance</title>
    <meta name="description" content="WashU's Pride Alliance!">
    <link id="favicon" rel="icon" href="https://png.icons8.com/color/1600/rainbow.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
      </head>
  <body>
    <div id="whole">
      <header>
        <div id="title">
          <a href="/"><h1>wustl</h1>
          <h2>Pride</h2> <h2 class="underline">Allianc<span style="letter-spacing: 0">e</span></h2></a>
        </div>
        <div class="rainbow">
          <div class="pastel-red">
          </div>
          <div class="pastel-orange">
          </div>
          <div class="pastel-yellow">
          </div>
          <div class="pastel-green">
          </div>
          <div class="pastel-blue">
          </div>
          <div class="pastel-indigo">
          </div>
          <div class="pastel-purple">
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="/events" class="redorange-link">Events</a></li>
            <li><a href="/contact" class="greenyellow-link">Contact Us</a></li>
            <li><a href="/join" class="bluepurple-link">Join Us</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Calendar of Events</h1>
        <h2>September</h2>
        <h3><span style="color: #ff8c8c; font-size: 6vh;">9th</span> &nbsp; First Suite Sunday + GBM</h3>
        <p style="width: 70vw; margin: auto;">Come join us for our very first Suite Sunday where we'll have gay cake, waffles, fun games, and wonderful company! Meet us in the Pride Suite in the Women's Building from 1-3pm!</p>
        <h3><span style="color: #ffcc8c; font-size: 6vh;">15th-16th</span> &nbsp; Destination Q</h3>
        <p style="width: 70vw; margin: auto;">While not a Pride Alliance sponsored event, Destination Q is a retreat for LGBT+ students to go out, form families with other students, and enjoy time together. Every LGBT+ student should take advantage of this opportunity</p>
        <h3><span style="color: #fffc8c; font-size: 6vh;">21st</span> &nbsp; Bi Visibility Day Speaker: Robyn Ochs</h3>
        <p style="width: 70vw; margin: auto;">Join us as we invite Robyn Ochs to campus for Bi Visibility Day! Location and time TBA</p>
        <h3><span style="color: #8cff8c; font-size: 6vh;">28th</span> &nbsp; Open Mic Night Fundraiser</h3>
        <p style="width: 70vw; margin: auto;">If you like to sing and perform, come over to our Open Mic Fundraiser! All donations will go to a charity. Doors open at 7pm.</p>
      </main>
      <footer>
        Pride Alliance &copy; 2018
      </footer>
    </div>
  </body>
</html>
